:root {
    --color-primary: #d2574c;
    --color-overlay: #df8982;
}

.wy-side-nav-search,
.wy-nav-top {
    background: var(--color-primary);
}

.wy-side-nav-search input[type="text"],
.wy-side-nav-search input[type="search"] {
    border: 1px solid var(--color-overlay);
    border-radius: 50px;
}

.wy-side-nav-search input[type="text"]:focus,
.wy-side-nav-search input[type="search"]:focus {
    border-color: var(--color-primary);
    outline: none;
}

.wy-menu-vertical a:active {
    background-color: var(--color-overlay);
}
