:root {
    --color-primary: #d2574c;
    --color-overlay: #df8982;
}

.wy-side-nav-search, .wy-nav-top {
    background: var(--color-primary, #d2574c);
}

.wy-side-nav-search {
    border-color: var(--color-overlay, #df8982);
}

.wy-menu-vertical a:active {
    background-color: var(--color-overlay, #df8982);
}

